
footer {
  background: #07123a;
  font-size: var(--body-font-size-xs);
  color: #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 0px 24px 24px;
}

footer .footer p {
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 16px 0;
}


@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
